.App {
  text-align: center;
}

.App-header {
  padding-top: 50px;
  margin-top: 10px;
  background-color: #282c34;
  min-height: 10px;
  
  font-size: calc(10px + 2vmin);
  color: rgb(116, 207, 243);
}
.bg {
  background-color: rgb(199, 199, 255);
}

.styled {
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
  padding-bottom: 10000px;
}



.text1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  background-color: #e5ebf8;
  font-size: 25px;
  color: rgb(2, 26, 36);
}
input[type=text] {
  background: rgb(126, 246, 255);
  font-variant: all-petite-caps;
  color: rgb(150, 0, 0);
  font-size: 35px;
  width: 500px;
  
}
input[type=date] {
  background: rgb(210, 255, 211);
  font-size: 35px;
  font-variant-caps: all-petite-caps;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 500px;
  padding: 4px 2px;
}
 
.App-link {
  color: #61dafb;
}